[alias]
    st = status
    cmm = commit -m
    aa = add .
    co = checkout
    cob = checkout -b
    lg = log --graph --pretty=format:'%Cred%h %C(reset)%s %C(green)(%cd)' --abbrev-commit -5
    lgn = "lg --name-only"
    bra = branch
	cma = "!git add -A && git commit -m"
	cp = cherry-pick
	ap = add -p
[user]
    email = chris@elserinteractive.com
    name = Chris Vann
[gpg]
    program = /usr/bin/gpg
[core]
	editor = code --wait
	autocrlf = true
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED
[push]
	followTags = true
[log]
	date = human

