[user]
  email = chris@vann.pro
  name = Chris Vann

[alias]
  st = status
  cob = checkout -b
  bra = branch
  co = checkout
  cma = commit -am
  aa = add .
  lg = log --graph --pretty=format:'%Cred%h%Creset -%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset %C(yellow)%d' --abbrev-commit -10
  cmm = commit -m
  cman = commit --amend --no-edit
  ptf = push --tags -f
